.vscode/
.DS_Store
guia/referencias/
guia/tarefas/A1
guia/tarefas/A2
guia/tarefas/codRodrigo
/.venv
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.cache/
.ipynb_checkpoints/
docs/_build/
docs/_static/
build/
dist/
pip-wheel-metadata/
*.egg-info/
codigos/tests/__pycache__/