.vscode/
.DS_Store
/referencias
/tarefas
/.venv
codigos/tests/__pycache__/test_inputs_simple.cpython-314-pytest-7.4.2.pyc
codigos/tests/__pycache__/test_examples_explicit.cpython-314-pytest-7.4.2.pyc
